/* Общие стили для body */
body {
    background-color: #E0FF4F; /* Цвет фона страницы */
    font-family: Arial, sans-serif; /* Шрифт для всей страницы */
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем внутренние отступы */
}

/* Стили контейнера */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Центрируем по вертикали */
}

/* Стили для формы восстановления пароля */
.login-form {
    display: flex;
    flex-direction: column;
    width: 400px; /* Увеличиваем ширину формы */
    padding: 30px; /* Увеличиваем внутренние отступы формы */
    background-color: #fff; /* Фон формы */
    border-radius: 10px; /* Скругленные углы */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Тень */
    border: 2px solid #00272B; /* Рамка формы */
}

/* Заголовок формы */
.login-form h2 {
    text-align: center; /* Центрируем текст */
    color: #00272B; /* Цвет заголовка */
}

/* Метки полей */
.login-form label {
    margin-top: 15px; /* Увеличиваем отступ сверху */
    color: #333; /* Цвет меток */
}

/* Поля ввода */
.login-form input {
    padding: 12px; /* Увеличиваем внутренние отступы */
    margin-top: 8px; /* Увеличиваем отступ сверху */
    border: 1px solid #00272B; /* Граница полей ввода */
    border-radius: 5px; /* Скругление углов */
    background-color: #f5f5f5; /* Цвет фона полей ввода */
}

/* Кнопка */
.login-form button {
    margin-top: 25px; /* Увеличиваем отступ сверху для кнопки */
    padding: 12px; /* Увеличиваем внутренние отступы для кнопки */
    background-color: #00272B; /* Цвет кнопки */
    color: #fff; /* Цвет текста кнопки */
    border: none; /* Без рамки */
    border-radius: 5px; /* Скругление углов */
    cursor: pointer; /* Курсор при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

/* Цвет кнопки при наведении */
.login-form button:hover {
    background-color: #00504F; /* Цвет кнопки при наведении */
}

/* Ссылки */
.links {
    margin-top: 20px; /* Увеличиваем отступ сверху для ссылок */
    display: flex; /* Используем flexbox для размещения ссылок */
    justify-content: space-between; /* Размещаем ссылки по краям */
}

/* Стили для ссылок */
.links a {
    color: #00272B; /* Цвет ссылки */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s; /* Плавный переход цвета */
}

/* Цвет ссылки при наведении */
.links a:hover {
    color: #00504F; /* Цвет ссылки при наведении */
}
