<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8"/>
        <title>Добавить стартап</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/add_view_style.css') }}" />
    </head>
<body>
    <h2>Добавить новый стартап</h2>
    <form action=" {{ url_for('add_startup') }}" method="POST" enctype="multipart/form-data">
        <label for="name">Название стартапа:</label>
        <input type="text" id="name" name="name" required />
        <label for="description">Описание:</label>
        <textarea id="description" name="description" required></textarea>
        <label for="image">Изображение:</label>
        <button type="submit">Загрузить</button>
    </form>
</body>
</html>