<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <title>Восстановление пароля</title>
</head>
<body>
    <div class="container">
        <form action="/forgot_password" method="POST" class="login-form">
            <h2>Восстановление пароля</h2>
            <label for="email">Электронная почта:</label>
            <input type="email" id="email" name="email" required>
            
            <button type="submit">Отправить</button>
            <div class="links">
                <p>Вернуться к <a href="/login">входу</a></p>
            </div>
        </form>
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
