<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile_styles.css') }}" />
    <title>Профиль</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-links">
                <a href="/" class="home-button">На главную</a>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="profile-info">
            <img src="{{ url_for('static', filename='images/default_profile.png') }}" alt="Profile Image" class="profile-image">
            <div class="profile-details">
                <p>Никнейм: <strong>{{ nickname }}</strong></p>
                <p>Электронная почта: <strong>{{ email }}</strong></p>
                <p>Дата регистрации: <strong>{{ registration_date }}</strong></p>
            </div>
        </div>

        <form action="{{ url_for('update_profile') }}" method="POST" enctype="multipart/form-data" class="profile-form">
            <h2>Изменить профиль</h2>

            <label for="nickname">Никнейм:</label>
            <input type="text" id="nickname" name="nickname" required>

            <label for="profile_image">Загрузить фотографию:</label>
            <input type="file" id="profile_image" name="profile_image" accept="image/*">

            <!-- Добавление секции для смены пароля -->
            <label for="new_password">Новый пароль:</label>
            <input type="password" id="new_password" name="new_password" placeholder="Введите новый пароль">

            <label for="confirm_password">Подтверждение пароля:</label>
            <input type="password" id="confirm_password" name="confirm_password" placeholder="Подтвердите новый пароль">

            <button type="submit">Сохранить изменения</button>
        </form>

        <a href="/logout" class="logout-button">Выход</a> 
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</body>
</html>
