<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Карточка проекта</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/project_card_style.css') }}">
</head>
    <body>
        <div class="project-card">
            <h2>Название проекта</h2>
            <img src="{{ url_for('static', filename='images/first_startup.png') }}" alt="Изображение проекта" class="project-image">
            <p class="project-description">Описание проекта</p>
            <div class="social-links">
                <a href="https://vk.com/project" target="_blank" class="vk-icon">VK</a>
                <a href="https://t.me/project" target="_blank" class="telegram-icon">TG</a>
                <a href="https://github.com/" target="_blank" class="github-icon">GH</a>
                <a href="https://discord.com/" target="_blank" class="dc-icon">DC</a>
            </div>
            <div class="user-info">
                <p class="user-name">Имя пользователя</p>
                <p class="publication-date">Дата публикации: 00.00.0000</p>
            </div>
            <div class="project-tag">
                <span class="tag">Тег1</span>
                <span class="tag">Тег2</span>
                <span class="tag">Тег3</span>
            </div>
        </div>
    </body>
</html>